.about {
	color: $paraText;
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-content: center;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 73px;

	&__image {
		height: 150px;
		margin-bottom: 24px;
	}
	&__heading-one {
		margin-top: 32px;
		margin-bottom: 24px;
	}
	&__heading-two {
		margin-top: 0;
		margin-bottom: 32px;
		width: 90%;
	}
	&__heading-three {
		margin-top: 0;
		margin-bottom: 40px;
	}
	&__heading-four {
		margin-top: 0;
		margin-bottom: 24px;
	}
}
.paragraph-text {
	font-family: "AvenirThin";
}

@include medium {
	.about {
		margin-left: 4%;
		margin-right: 4%;

		&__image {
			height: 362px;
			margin-bottom: 24px;
		}
		.paragraph-split {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
		.paragraph-text {
			width: 48.33%;
		}
		&__heading-one {
			margin-top: 70px;
		}
		&__heading-two {
			font-size: 21px;
		}
		&__heading-three {
			font-size: 15px;
		}
		&__heading-four {
			font-size: 24px;
		}
	}
}
