.footer {
	width: 100vw;
	color: #fff;
	background-color: $navBackground;
	display: flex;
	flex-direction: column;
	margin-top: 12px;

	&__nav {
		width: 100%;
	}

	&__contacts {
		margin-left: 5%;
	}
	&__contact-paragraph,
	&__copyright-text {
		font-family: "AvenirThin";
	}
	&__icons {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		width: 50%;
		margin-bottom: 20px;
		margin-left: 5%;
	}
	&__copyright {
		margin-left: 5%;
	}
}
.icon-link {
	margin-top: 10px;
	margin-left: 1%;
	margin-right: 20%;
}

@include medium {
	.footer__icons {
		margin: 15px 4%;
	}
	.footer__copyright {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.footer__heading {
		margin-right: 15%;
	}
	.footer__contacts {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		margin-left: 3%;
	}
	.footer__contact-paragraph {
		margin-top: 0;
	}
	.footer__copyright {
		margin-left: 3%;
	}
}
.icon-link {
	display: inline-block;
	margin-top: 25px;
	margin-left: 0;
	margin-right: 10%;
}
.contact-emails {
	display: flex;
	flex-wrap: wrap;
}
