/*media query for mobile using max width so that it doesn't have a break at min-width*/
/*media query for tablet*/
/*media query for landscape,
		medium pixel density desktop*/
/*media query for  landscape, large pixel density desktop*/
/* Create a variable first  $variable name*/
/*global colours*/
/*bandsite only images*/
@font-face {
  src: url(../../assets/fonts/avenir/avenir-next-regular.otf);
  font-family: "Avenir";
  font-style: normal;
}

@font-face {
  src: url(../../assets/fonts/avenir/avenir-next-bold.otf);
  font-family: "AvenirBold";
  font-style: normal;
}

@font-face {
  src: url(../../assets/fonts/avenir/avenir-demi-bold.otf);
  font-family: "AvenirDemi";
  font-style: normal;
}

@font-face {
  src: url(../../assets/fonts/avenir/Linotype\-\AvenirNextLTPro-BoldIt.otf);
  font-family: "AvenirBoldlt";
  font-style: normal;
}

@font-face {
  src: url(../../assets/fonts/avenir/Linotype\-\AvenirNextLTPro-DemiIt.otf);
  font-family: "AvenirDemilt";
  font-style: normal;
}

@font-face {
  src: url(../../assets/fonts/avenir/Linotype\-\AvenirNextLTPro-Heavy.otf);
  font-family: "AvenirHeavy";
  font-style: normal;
}

@font-face {
  src: url(../../assets/fonts/avenir/Linotype\-\AvenirNextLTPro-Light.otf);
  font-family: "AvenirLight";
  font-style: normal;
}

@font-face {
  src: url(../../assets/fonts/avenir/Linotype\-\AvenirNextLTPro-Thin.otf);
  font-family: "AvenirThin";
  font-style: normal;
}

.footer {
  width: 100vw;
  color: #fff;
  background-color: #323232;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 12px;
  padding: 24px 3%;
}

.footer__icons {
  position: relative;
}

.footer__contact-paragraph, .footer__copyright-text {
  font-family: "Avenir";
  font-weight: lighter;
  opacity: 0.9;
}

.footer #icons-move {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .bandsite-logo {
  z-index: -10;
}

.footer .icon-link {
  height: 20px;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 36px;
    line-height: 44px;
  }
  h2 {
    font-size: 24px;
    line-height: 32px;
  }
  h3 {
    font-size: 16px;
    line-height: 24px;
  }
  h4 {
    font-size: 14px;
    line-height: 20px;
  }
  h5 {
    font-size: 12px;
    line-height: 20px;
  }
  .footer__heading {
    margin-right: 0;
    display: inline-block;
  }
  .footer__copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__copyright-text {
    margin-right: 3.125;
  }
  .footer__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__contact-paragraph {
    margin-top: 0;
  }
  .icon-link {
    display: inline-block;
    margin-left: 5%;
  }
  .footer__contact-emails {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #icons-move {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 60%;
  }
  .bandsite-logo {
    z-index: 1;
    position: absolute;
    left: 83%;
    top: 44px;
  }
}

@media only screen and (min-width: 1440px) {
  .icon-link {
    margin-top: 48px;
    margin-right: 32px;
  }
  .footer__copyright {
    margin-left: 180px;
  }
  .footer__heading {
    margin-top: 48px;
  }
  .footer__contact-heading {
    margin-bottom: 24px;
    margin-top: 0;
  }
  .bandsite-logo {
    left: 81%;
    top: 63px;
  }
}
/*# sourceMappingURL=footer.css.map */