.footer {
	width: 100vw;
	color: #fff;
	background-color: $navBackground;
	display: flex;
	flex-direction: column;
	margin-top: 12px;

	&__nav {
		width: 100%;
	}
	&__heading {
		margin-left: 0;
	}
	&__contact-heading {
		margin: 5%;
	}
	&__contact-paragraph {
		font-family: "AvenirThin";
		margin: 5%;
	}
	&__icons {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		width: 50%;
		margin-bottom: 20px;
	}
	&__copyright {
		margin-left: 5%;
	}
	&__copyright-text {
		font-family: "Avenirthin";
	}
}
.icon-link {
	margin-top: 10px;
	margin-left: 1%;
	margin-right: 20%;
}

@include medium {
	.footer__copyright {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
}
.footer__icons {
	margin: 15px 4%;
}
