@import "./breakpoints";
@import "./colours";
@import "./fonts";

.gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-color: $textBackground;

	&__photo-image {
		width: 90%;
		margin: 8px 5%;
	}
	&__heading {
		margin: 0;
		padding: 10px 5%;
		background-color: $textBackground;
	}
}
@include medium {
	h1 {
		font-size: 60px;
		line-height: 68px;
	}
	h2 {
		font-size: 24px;
		line-height: 32px;
	}
	h3 {
		font-size: 16px;
		line-height: 24px;
	}
	h4 {
		font-size: 14px;
		line-height: 20px;
	}
	h5 {
		font-size: 12px;
		line-height: 20px;
	}
	.gallery__photo-image {
		width: 29%;
		height: 126px;
		margin: 12px 1.56%;
		justify-content: space-evenly;
	}

	.gallery__heading {
		padding-left: 4%;
	}
}
@include large {
	.gallery {
		margin-bottom: 28px;
	}
	.gallery__photo-image {
		width: 24%;
		height: 193px;
		margin: 12px;
	}

	.gallery__heading {
		padding-left: 12.5%;
	}
}
