.header {
	width: 100vw;
	height: 80px;
	color: #fff;
	font-family: "Avenir";
	background-color: $navBackground;
	display: flex;
	flex-direction: column;
	position: fixed;
	z-index: 1;

	&__logo {
		margin-top: 16px;
	}
	&__menu {
		display: flex;
		justify-content: space-around;
		list-style-type: none;
		padding-left: 0;
		margin-bottom: 0;
	}

	&__menu-item {
		width: 50%;
		margin-top: 0;
		text-align: center;
	}
	&__menu-link {
		text-decoration: none;
		color: #fff;
	}
}

#item-active {
	border-bottom: 2px solid #fff;
}
@include medium {
	.header {
		flex-direction: row;

		&__menu {
			display: flex;
			justify-content: space-around;
			padding-bottom: 0;
			text-align: center;
			margin-top: 37px;
		}

		&__menu-item {
			margin: 0 20px 0 20px;
		}
		&__logo {
			margin-left: 4%;
		}
	}
}
