.header {
	width: 100vw;
	height: 80px;
	color: #fff;
	font-family: "Avenir";
	background-color: $navBackground;
	display: flex;
	flex-direction: column;
	position: fixed;
	z-index: 1;

	&__logo {
		margin-top: 16px;
	}
	&__menu {
		display: flex;
		justify-content: space-around;
		list-style-type: none;
		padding-left: 0;
		margin-bottom: 0;
	}

	&__menu-item {
		width: 50%;
		margin-top: 0;
		text-align: center;
	}
	&__menu-link {
		text-decoration: none;
		color: #fff;
	}
}

#item-active {
	border-bottom: 2px solid #fff;
}
@include medium {
	h1 {
		font-size: 60px;
		line-height: 68px;
	}
	h2 {
		font-size: 24px;
		line-height: 32px;
	}
	h3 {
		font-size: 16px;
		line-height: 24px;
	}
	h4 {
		font-size: 14px;
		line-height: 20px;
	}
	h5 {
		font-size: 12px;
		line-height: 20px;
	}
	.header {
		flex-direction: row;

		&__menu {
			display: flex;
			justify-content: space-around;
			padding-bottom: 0;
			text-align: center;
			margin-top: 30px;
		}

		&__menu-item {
			margin: 0 20px 0 20px;
		}
		&__logo {
			margin-left: 4%;
			margin-top: 0;
		}
	}
}
@include large {
	.header__logo {
		margin-left: 12.5%;
	}
	.header__menu-item {
		margin: 0 0 0 56px;
	}
}
