/*media query for mobile using max width so that it doesn't have a break at min-width*/
/*media query for tablet*/
/*media query for landscape,
		medium pixel density desktop*/
/*media query for  landscape, large pixel density desktop*/
/* Create a variable first  $variable name*/
/*global colours*/
/*bandsite only images*/
@font-face {
  src: url(../../assets/fonts/avenir/avenir-next-regular.otf);
  font-family: "Avenir";
  font-style: normal;
}

@font-face {
  src: url(../../assets/fonts/avenir/avenir-next-bold.otf);
  font-family: "AvenirBold";
  font-style: normal;
}

@font-face {
  src: url(../../assets/fonts/avenir/avenir-demi-bold.otf);
  font-family: "AvenirDemi";
  font-style: normal;
}

@font-face {
  src: url(../../assets/fonts/avenir/Linotype\-\AvenirNextLTPro-BoldIt.otf);
  font-family: "AvenirBoldlt";
  font-style: normal;
}

@font-face {
  src: url(../../assets/fonts/avenir/Linotype\-\AvenirNextLTPro-DemiIt.otf);
  font-family: "AvenirDemilt";
  font-style: normal;
}

@font-face {
  src: url(../../assets/fonts/avenir/Linotype\-\AvenirNextLTPro-Heavy.otf);
  font-family: "AvenirHeavy";
  font-style: normal;
}

@font-face {
  src: url(../../assets/fonts/avenir/Linotype\-\AvenirNextLTPro-Light.otf);
  font-family: "AvenirLight";
  font-style: normal;
}

@font-face {
  src: url(../../assets/fonts/avenir/Linotype\-\AvenirNextLTPro-Thin.otf);
  font-family: "AvenirThin";
  font-style: normal;
}

.header {
  width: 100vw;
  height: 80px;
  color: #fff;
  font-family: "Avenir";
  background-color: #323232;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  z-index: 1;
}

.header__logo {
  margin-top: 16px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.header__menu-item {
  width: 50%;
  margin-top: 0;
  text-align: center;
}

.header__menu-link {
  text-decoration: none;
  color: #fff;
}

#item-active {
  border-bottom: 2px solid #fff;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 60px;
    line-height: 68px;
  }
  h2 {
    font-size: 24px;
    line-height: 32px;
  }
  h3 {
    font-size: 16px;
    line-height: 24px;
  }
  h4 {
    font-size: 14px;
    line-height: 20px;
  }
  h5 {
    font-size: 12px;
    line-height: 20px;
  }
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-bottom: 0;
    text-align: center;
    margin-top: 30px;
  }
  .header__menu-item {
    margin: 0 20px 0 20px;
  }
  .header__logo {
    margin-left: 4%;
    margin-top: 0;
  }
}

@media only screen and (min-width: 1440px) {
  .header__logo {
    margin-left: 12.5%;
  }
  .header__menu-item {
    margin: 0 0 0 56px;
  }
}
/*# sourceMappingURL=header.css.map */