.hero {
	position: relative;
	height: 263px;
	width: 100vw;
	padding-top: 80px;

	&__image {
		height: 183px;
		width: 100%;
		z-index: -1;
	}
	&__overlay {
		height: 183px;
		width: 100vw;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: -1;
	}
	&__heading {
		color: #fff;
		position: absolute;
		top: 155px;
		left: 5%;
		margin: 0;
	}
}
