.hero {
	height: 263px;
	width: 100vw;

	&__image {
		height: 100%;
		width: 100%;
	}
	&__overlay {
		height: 100%;
		width: 100vw;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: -1;
	}
	&__heading {
		color: #fff;
		position: relative;
		top: 155px;
		left: 5%;
		margin: 0;
	}
}

@include medium {
	.hero {
		height: 400px;

		&__heading {
			top: 220px;
		}
	}
}
