@font-face {
	src: url(../../assets/fonts/avenir/avenir-next-regular.otf);
	font-family: "Avenir";
	font-style: normal;
}

@font-face {
	src: url(../../assets/fonts/avenir/avenir-next-bold.otf);
	font-family: "AvenirBold";
	font-style: normal;
}

@font-face {
	src: url(../../assets/fonts/avenir/avenir-demi-bold.otf);
	font-family: "AvenirDemi";
	font-style: normal;
}
@font-face {
	src: url(../../assets/fonts/avenir/Linotype\-\AvenirNextLTPro-BoldIt.otf);
	font-family: "AvenirBoldlt";
	font-style: normal;
}
@font-face {
	src: url(../../assets/fonts/avenir/Linotype\-\AvenirNextLTPro-DemiIt.otf);
	font-family: "AvenirDemilt";
	font-style: normal;
}
@font-face {
	src: url(../../assets/fonts/avenir/Linotype\-\AvenirNextLTPro-Heavy.otf);
	font-family: "AvenirHeavy";
	font-style: normal;
}
@font-face {
	src: url(../../assets/fonts/avenir/Linotype\-\AvenirNextLTPro-Light.otf);
	font-family: "AvenirLight";
	font-style: normal;
}
@font-face {
	src: url(../../assets/fonts/avenir/Linotype\-\AvenirNextLTPro-Thin.otf);
	font-family: "AvenirThin";
	font-style: normal;
}
