.shows__hero {
	height: 472px;
	width: 100vw;
	position: relative;

	&-image {
		height: 100%;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.8);
	}

	&-heading {
		color: #fff;
		position: absolute;
		font-size: 36px;
		top: 140px;
		left: 5%;
		margin: 0 5%;
		margin-left: 0;
	}
	.shows__heading-small {
		position: absolute;
		padding-top: 64px;
		color: #fff;
		padding-left: 5%;
	}

	.soundcloud-iframes {
		width: 90%;
		height: 125px;
		position: relative;
		z-index: 1;
		left: 5%;
		bottom: 246px;
		margin-top: 64px;
	}
}

@include medium {
	h1 {
		font-size: 60px;
		line-height: 68px;
	}
	h2 {
		font-size: 24px;
		line-height: 32px;
	}
	h3 {
		font-size: 16px;
		line-height: 24px;
	}
	h4 {
		font-size: 14px;
		line-height: 20px;
	}
	h5 {
		font-size: 12px;
		line-height: 20px;
	}

	.shows__hero {
		height: 670px;
	}

	.shows__hero-heading {
		font-size: 60px;
		line-height: 68px;
		top: 140px;
	}

	#soundcloud-iframe {
		width: 50%;
	}

	.shows__heading-small {
		padding-top: 96px;
		padding-left: 12.5%;
	}
}
@include large {
	.shows__hero {
		height: 670px;
	}
	.shows__hero-heading {
		top: 260px;
		margin-left: 7.55%;
		margin-right: 50.5%;
	}

	#soundcloud-iframe {
		width: 30.27%;
		margin-right: 12.5%;
		margin-left: 64px;
		left: 48.5%;
		bottom: 410px;
	}

	.shows__heading-small {
		padding-left: 12.5%;
	}
}
