.shows-section {
	margin: 0 5%;
}

.new__show-div {
	border-bottom: 1px solid $dividerColour;
	padding-bottom: 10px;
}
.new__show-button {
	width: 90vw;
	height: 48px;
	margin-top: 10px;
	background-color: $primeCta;
	border-radius: 4px;
	text-align: center;
	color: #fff;
}
.shows__table-heading {
	margin: 32px 3.3% 40px 3.3%;
	font-family: "AvenirBold";
	font-display: bolder;
}
.table__heading-div {
	display: none;
}
.new__show-location,
.new__show-Venue {
	opacity: 0.5;
}

@include medium {
	h1 {
		font-size: 36px;
		line-height: 44px;
	}
	h2 {
		font-size: 24px;
		line-height: 32px;
	}
	h3 {
		font-size: 16px;
		line-height: 24px;
	}
	h4 {
		font-size: 14px;
		line-height: 20px;
	}
	h5 {
		font-size: 12px;
		line-height: 20px;
	}
	.shows-section {
		margin: 0 5%;
	}
	.new__show-div {
		display: flex;
		justify-content: space-between;
	}
	.new__show-heading {
		display: none;
	}
	.new__show-button {
		width: 160px;
	}
	.table__heading-div {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		width: 70%;
		opacity: 0.3;
		font-family: "AvenirBold";
	}
	.hidden-key {
		display: none;
	}
	.hidden-heading {
		margin-right: 10%;
	}
}

@include large {
	.shows-section {
		margin: 0 25%;
	}
	.shows__table-heading {
		margin-bottom: 0;
	}
	.table__heading-div {
		justify-content: flex-end;
		width: 30%;
		margin: 0 30%;
	}
	.hidden-heading {
		margin: 0 15%;
	}
}
