.shows__table,
.shows__table-heading {
	margin: 0 3.3%;

	& tbody tr {
		display: block;
		text-align: left;
		padding-bottom: 15px;
		padding-left: 0;
	}
	& tbody tr td {
		padding-left: 0;
	}

	& button {
		display: block;
		width: 90vw;
		height: 30px;
		padding: 0;
		border: 0;
		background-color: $primeCta;
		border-radius: 4px;
		text-align: center;
		color: #fff;
	}
}
.table-header {
	display: block;
	text-align: left;
	padding: 0;
	font-family: "AvenirBold";
	opacity: 0.3;
}
.bolded-date {
	font-family: "AvenirBold";
	padding-left: 0;
}
.underline-button {
	padding-bottom: 15px;
	padding-left: 0;
	border-bottom: 1px solid $textLabel;
}
.table__heading-div {
	display: none;
}
@include medium {
	.shows__table {
		& tbody tr {
			display: inline-block;
			width: 25%;
			border-bottom: 1px solid rgba(0, 0, 0, 0.4);
			padding-top: 15px;
		}
		& button {
			width: 160px;
		}
		.table-header {
			display: none;
		}
		& tbody {
			display: flex;
			justify-content: space-between;
			flex-direction: row;
			flex-wrap: wrap;
			width: 720px;
		}
	}

	.table__heading-div {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		width: 75%;
		opacity: 0.3;
		font-family: "AvenirBold";
	}
	.hidden-heading {
		margin-right: 52px;
	}

	.underline-button {
		display: inline-block;
		width: 160px;
	}
	.underline-button {
		border-bottom: none;
	}
}
@include large {
	tbody {
		width: 804px;
	}
	.shows__table {
		margin-left: 30%;
		margin-right: 12.5%;
	}
	.hidden-heading {
		margin-right: 130px;
	}
	.table__heading-div {
		justify-content: flex-end;
		width: 70%;
	}
}
