@import "./breakpoints";
.shows__table,
.shows__table-heading {
	margin: 0 5%;

	& tbody tr {
		display: block;
		text-align: left;
		padding-bottom: 15px;
	}

	& button {
		display: block;
		width: 90vw;
		height: 30px;
		// padding: 0;
		background-color: $primeCta;
		border-radius: 4px;
		text-align: center;
		color: #fff;
	}
}
.table-header {
	display: block;
	text-align: left;
	padding: 0;
	font-family: "AvenirBold";
	opacity: 0.3;
}
.bolded-date {
	font-family: "AvenirBold";
}
.underline-button {
	padding-bottom: 15px;
	border-bottom: 1px solid $textLabel;
}
.table__heading-div {
	display: none;
}
@include medium {
	.shows__table {
		& tbody tr {
			display: inline-block;
			padding-right: 5%;
		}
		& button {
			width: 160px;
		}
		.table-header {
			display: none;
		}
		& tbody {
			display: flex;
			justify-content: space-between;
			flex-direction: row;
			flex-wrap: wrap;
		}
	}

	.table__heading-div {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}
	.hidden-heading {
		margin-left: 10%;
	}

	.underline-button {
		display: inline-block;
		width: 160px;
	}
}
@include large {
	.shows__table {
		margin-left: 30%;
		margin-right: 12.5%;
	}
}
